.new-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-posts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.post{
    border: 0.1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 5px 20px;
}

.content{
    font-size: 15px;
}

.username{
    font-size: 20px;
}

.date{
    color: gray;
    font-size: 15px;
}
