#name {
    font-family: monospace;
    font-size: 50px;
    text_emphasis: underline;
    color: olive;
    opacity: 0.5;
}

.about {
    font-family: cursive;
}

h1 {
    color: red;
}

li:hover {
    color: blue;
}

h4.about {
    color: orange;
}
